/*GLOBAL ELEMENTS*/

body {
  background-color: rgb( 240, 240, 240);
  margin: 0px;
}

label {
  display: block;
  font-family: 'Delius', cursive;
}

input {
  margin: 5px 0;
}

textarea {
  margin: 5px 0;
}

button {
  font-family: 'Delius', cursive;
}

.contentDiv {
  height: 600px;
  margin-bottom: 20px;
  margin: 0 5%;
}

.breakDiv {
  margin-top: 85px;
  margin-bottom: 85px;
  height: 100px;
  width: 100%;
  background-color: rgb(194, 35, 38);
}

.endDiv {
  height: 50px;
  margin-bottom: 0;
}

.textFlex {
  margin-right: 5%;
  float: right;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
/*  border: solid black 2px;*/
  width: 45%;
  height: 600px;
}

.textFlexLeft {
  float: left;
}

.textBox {
  height: 100%;
  width: 400px;
  text-align: center;
}

.centered {
  text-align: center;
}

/*FONTS*/

h1 {
  font-family: 'Rock Salt', cursive;
  margin: 0 auto;
  text-align: center
}

h3 {
  font-family: 'Delius Swash Caps', cursive;
}

p {
  text-align: justify;
  font-family: 'Delius', cursive;
}

/*COVER DIV*/

.landingDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-top: 60px;
  height: 80vh;
  width: 80vw;
  background-color: rgb( 240, 240, 240);
  color: rgb(5, 5, 5);
  border: solid 2px rgb(5, 5, 5) ;
}

.nameDiv {
  height: 550px;
  width: 425px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*PROJECTS DIV*/

.project-flex {
  flex-direction: column;
}

.project-text {
  height: 10%;
}

.project-container {
  width: 300px;
  height: 155px;
  border: solid rgb(194, 35, 38) 2px;
  margin: 10px 0;
}

.project-png {
  height: 125px;
  width: 300px;
}

.project-name {
  text-align: center;
  font-family: 'Delius', cursive;
  margin-bottom: 5px;
}

.project-name:hover {
  cursor: pointer;
}

.modal {
  display: none;
  position: fixed;
  height: 60%;
  width: 60%;
  left: 20%;
  top: 20%;
  z-index: 1;
  overflow: auto;
  background-color: rgb( 240, 240, 240);
  border: solid black 5px;
  margin: 3px;
}

.modal-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.modal-left {
  height: 80%;
  width: 50%;
  display: flex;
  text-align: center;
  justify-content: center;
  flex-direction: column;
}

.modal-right {
  height: 80%;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.modal-title {
  text-align: center;
  height: 20%;
}

.modal-img-container {
  height: 80%;
}

.modal-img {
  height: 200px;
  width: 340px;
}

.modal-text {
  margin: 10px;
}

.close-modal {
display: inline-block;
font-family: 'Delius', cursive;
border: rgb(194, 35, 38) solid 2px;
width: 25%;
text-align: center;
}

.close-modal:hover {
  cursor: pointer;
}

/*SKILLS DIV*/

/*ABOUT ME DIV*/

/*CONTACT DIV*/

.in-touch-heading {
  margin-top: 50px;
  margin-bottom: 20px;
}

.headshot {
  height:412.5px;
  width: 318.85px;
}

.contact-form {
/*  border: solid black .5px;*/
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
/*  justify-content: center;*/
}

.input-name {
  width: 300px;
}

.input-email {
  width: 300px;
}

.input-message {
  width: 300px;
  height: 100px;
}

.input-container {
  width: 305px;
  text-align: left;
}

.name-label {
  margin-top: 10px;
}

.social-media-icon {
  width: 40px;
  height: 40px;
  padding: 0 10px;
}


/*BLOCK CONTAINER*/

.blankRow {
  height: 10%;
}

.blocks-container {
  margin-left: 5%;
  margin-right: 5%;
  display: inline-block;
  box-sizing: border-box;
/*  border: solid black 2px;*/
  width: 40%;
  height: 600px;
}

.right {
  justify-content: flex-end;
}

.row {
  height: 30%;
  width: 100%;
  display: flex;
}

/*INDIVIDUAL BLOCKS*/

.block {
  height: 100%;
  width: 30%;
  display: inline-block;
  box-sizing: border-box;
/*  border: solid black 2px;*/
}

.one {
  background-color: rgb(194, 35, 38);
}

.two {
  background-color: rgb(243, 115, 56);
}

.three {
  background-color: rgb(252, 181, 50);
}

.four {
  background-color: rgb(2, 120, 120)
}

.five {
  background-color: rgb(128, 22, 56);
}

.six {
  background-color: rgb(70, 32, 102)
}
