body {
  background-color: rgb( 240, 240, 240);
  margin: 0px;
}

.landingDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-top: 60px;
  height: 80vh;
  width: 80vw;
  background-color: rgb( 240, 240, 240);
  color: rgb(5, 5, 5);
  border: solid 2px rgb(5, 5, 5) ;
}

.breakDiv {
  margin-top: 85px;
  margin-bottom: 85px;
  height: 150px;
  width: 100%;
  background-color: rgb(194, 35, 38);
}

.nameDiv {
  height: 550px;
  width: 425px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.headshot {
  height:412.5px;
  width: 318.85px;
}

h1 {
  font-family: 'Rock Salt', cursive;
  margin: 0 auto;
  text-align: center
}

h3 {
  font-family: 'Delius Swash Caps', cursive;
}

p {
  text-align: justify;
  font-family: 'Delius', cursive;
}

.aboutMeDiv {
  height: 600px;
  margin-bottom: 20px;
  margin: 0 5%;
}

.skillsDiv {
  height: 600px;
  margin-bottom: 20px;
  margin: 0 5%;
}

.blocks {
  margin-left: 5%;
  margin-right: 5%;
  display: inline-block;
  box-sizing: border-box;
/*  border: solid black 2px;*/
  width: 40%;
  height: 600px;
}

.textFlex {
  margin-right: 5%;
  float: right;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
/*  border: solid black 2px;*/
  width: 45%;
  height: 600px;
}

.textFlexLeft {
  float: left;
}

.textBox {
  height: 500px;
  width: 400px;
  text-align: center;
}


.centered {
  text-align: center;
}

.blankRow {
  height: 10%;
}

.row {
  height: 30%;
  width: 100%;
  display: flex;
}

.right {
  justify-content: flex-end;
}

.block {
  height: 100%;
  width: 30%;
  display: inline-block;
  box-sizing: border-box;
/*  border: solid black 2px;*/
}

.one {
  background-color: rgb(194, 35, 38);
}

.two {
  background-color: rgb(243, 115, 56);
}

.three {
  background-color: rgb(252, 181, 50);
}

.four {
  background-color: rgb(2, 120, 120)
}

.five {
  background-color: rgb(128, 22, 56);
}

.six {
  background-color: rgb(70, 32, 102)
}

#headshot {
  height: 400px;
  border-radius: 20px;
}
